html {
  font-family: 'Libre Baskerville', serif;
}

body {
  padding-left: calc(100vw - 100%);
  text-align: center;  
}

#poem {
  padding-top: 32px;
  padding-bottom: 48px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  margin: 0 auto;
}

h1 {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: min(32pt, 5vw);
  color: #111;
  outline: none;
  transition: opacity 0.5s;
}

#flash-preventer {
  z-index: 5;
  background-color: white;
  opacity: 1;
  transition: opacity 0.4s;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
}

#grid-container {
  transition: opacity 0.5s;
}

.fade-out {
  opacity: 0;
}

#flash-preventer.fade {
  opacity: 0;
}

#title.placeholder {
  opacity: 0.4;
}

#metre.placeholder {
  opacity: 0.6;
}

#display.placeholder {
  opacity: 0.4;
}

#content {
  text-align: center;
  content: inline-block;
}

#menu {
  user-select: none;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 32px;
  padding-left: 8px;
  padding-bottom: 12px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 10px #ffffff;
  border-top-left-radius: 10px;
  z-index: 4;
  /* needs to be ontop of the content */
}

.menu-item {
  transition: opacity 0.4s;
  opacity: 0.4;
  color: inherit;
  text-decoration: inherit;
  margin-left: 12px;
}

.menu-item:first-child {
  margin-left: 0px;
}

.menu-item:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

#grid-container {
  display: inline-grid;
  grid-template-columns: 20px auto;
  grid-column-gap: 16px;
  text-align: left;
  margin-right: 24px;
}

#syllables {
  user-select: none;
  grid-column: 1;
  text-align: right;
  color: #D3D3D3;
  font-size: clamp(10px, 1.5vw, 12px);
  line-height: clamp(32px, 5vw, 64px);
  margin: 0;
}

.overlaid {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  grid-column: 2;
  grid-row: 1;
  margin: 0 auto;
  min-width: 40vw;
  background: transparent;
  white-space: nowrap;
  resize: none;
}

#input, #display {
  font-size: clamp(16px, 2.5vw, 32px);
  font-family: 'Libre Baskerville', serif;
  line-height: clamp(32px, 5vw, 64px);
  /* to increase need to work out metre bug */
  tab-size: 1;
}

/* Move the textarea in front of the result */
#input {
  z-index: 2;
}

#display {
  user-select: none;
  z-index: 1;
  white-space: pre;
}

#metre {
  user-select: none;
  margin-top: clamp(-26px, -2.5vw, -14px);
  z-index: 0;
}

#input {
  color: transparent;
  caret-color: black;
  overflow: hidden;
  /* prevent occasional scrollbars popping in */
}

#metre {
  color: #D3D3D3;
  font-size: clamp(10px, 1.5vw, 16px);
  line-height: clamp(32px, 5vw, 64px);
}

#rhyme-suggestions-container {
  position: absolute;
  font-size: clamp(16px, 2.5vw, 32px);
  font-family: 'Libre Baskerville', serif;
  line-height: clamp(16px, 2.5vw, 32px);
  z-index: 3;
  background: #ffffff;
  box-shadow: 0px 0px 10px 10px #ffffff
}

#rhyme-suggestions {
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  max-height: 50vh;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-right: 20px;
}

#rhyme-suggestions::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#rhyme-suggestions-container:before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% - 17px);
  /* scrollbar nonsense */
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1) 0,
      rgba(255, 255, 255, 0) 50px),
    linear-gradient(to top,
      rgba(255, 255, 255, 1) 0,
      rgba(255, 255, 255, 0) 50px);
  pointer-events: none;
}

#autocomplete {
  opacity: 0.4;
}

.rhyme-0 {
  color: #2D4FA2;
}

.rhyme-1 {
  color: #800080;
}

.rhyme-2 {
  color: #B92D65;
}

.rhyme-3 {
  color: #D87E37;
}

.rhyme-4 {
  color: #E8BD50;
}

.rhyme-5 {
  color: #00BFB2;
}

.rhyme-6 {
  color: #F25D5A;
}

.rhyme-7 {
  color: #79C362;
}

.rhyme-8 {
  color: #DF3075;
}

.rhyme-9 {
  color: #2da281;
}

a.tweet {
  color: #2D4FA2;
}

a.tweet:link {
  color: #2D4FA2;
}

a.tweet:visited {
  color: #2D4FA2;
}

a.tweet:focus {
  color: #2D4FA2;
}

a.tweet:hover {
  color: #2D4FA2;
}

a.tweet:active {
  color: #2D4FA2;
}