html {
  font-family: 'Libre Baskerville', serif;
}

body {
  padding-left: calc(100vw - 100%);
}

h1 {
  text-align: center;
  font-size: min(32pt, 5vw);
  color: #111;
  outline: none;
}

#flash-preventer {
  z-index: 4;
  background-color: white;
  opacity: 1;
  transition: opacity 0.4s;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  pointer-events: none;
}

#flash-preventer.fade {
  opacity: 0;
}

#metre.placeholder {
  opacity: 0.6;
}
#display.placeholder {
  opacity: 0.4;
}

#content {
  text-align: center;
  margin-bottom: 64px;
}

#menu {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-left: 8px;
  padding-bottom: 12px;
  padding-right: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 10px #ffffff;
  border-top-left-radius: 10px;
  z-index: 3; /* needs to be ontop of the content */
}

.menu-item {
  transition: opacity 0.4s;
  opacity: 0.4;
  color: inherit; 
  text-decoration: inherit;
  margin-left: 12px;
}

.menu-item:first-child {
  margin-left: 0px;
}

.menu-item:hover {
  opacity: 1;
}

#grid-container {
  display: inline-grid;
  grid-template-columns: 20px auto;
  grid-column-gap: 16px;
  text-align: left;
  margin-right: 32px;
}

#syllables {
  grid-column: 1;
  text-align: right;
  color: #D3D3D3;
  font-size: clamp(10px,1.5vw,12px);
  line-height: clamp(32px,5vw,64px);
  margin: 0;
}

.overlaid {
  border: none;
  outline: none;
  padding: 0;
  grid-column: 2;
  grid-row: 1;
  margin: 0 auto;
  min-width: 50vw;
  background: transparent;
  white-space: nowrap; 
  resize: none;
}

#input, #display {
  font-size: clamp(16px,2.5vw,32px);
  font-family: 'Libre Baskerville', serif;
  line-height: clamp(32px,5vw,64px);
  tab-size: 2;
}

/* Move the textarea in front of the result */
#input {
  z-index: 2;
}

#display {
  z-index: 1;
  white-space: pre;
}

#metre {
  margin-top: clamp(-26px, -2.5vw, -12px);
  z-index: 0;
}

#input {
  color: transparent;
  caret-color: black; 
  overflow:hidden; /* prevent occasional scrollbars popping in */
}

#metre {
  color: #D3D3D3;
  font-size: clamp(10px, 1.5vw, 16px);
  line-height: clamp(32px,5vw,64px);
}

#display .last-word-0 {
  color:#2D4FA2;
}

#display .last-word-1 {
  color:purple;
}

#display .last-word-2 {
  color:#B92D65;
}

#display .last-word-3 {
  color:#D87E37;
}

#display .last-word-4 {
  color:#E8BD50;
}

#display .last-word-5 {
  color:#00BFB2;
}

#display .last-word-6 {
  color:#F25D5A;
}

#display .last-word-7 {
  color:#79C362;
}

#display .last-word-8 {
  color:#DF3075;
}

#display .last-word-9 {
  color:#542056;
}

#display .last-word-10 {
  color:#B92D65;
}

#display .last-word-11 {
  color:#D87E37;
}

#display .last-word-12 {
  color:#E8BD50;
}

#display .last-word-13 {
  color:#00BFB2;
}

#display .last-word-14 {
  color:#F25D5A;
}

#display .last-word-15 {
  color:#79C362;
}