html {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  text-align: center;
  font-size: 32pt;
  color: #111;
}

#container {
  display: grid;
}

.overlaid {
  border: none;
  outline: none;
  padding: 0;
  width: calc(100% - 32px);
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
  max-width: 800px;
  background: transparent;
  white-space: nowrap; 
  overflow-x: auto;
  resize: none;
}

#editing, #highlighting {
  font-size: 32px;
  font-family: 'Libre Baskerville', serif;
  line-height: 64px;
  tab-size: 2;
}

/* Move the textarea in front of the result */
#editing {
  z-index: 2;
}
#highlighting {
  z-index: 1;
}

#metre {
  max-width: 840px;
  margin-top: -26px;
  z-index: 0;
}

#editing {
  color: transparent;
  caret-color: black; 
}

#metre {
  color: #D3D3D3;
  font-size: 16px;
  line-height: 64px;
}