html {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  text-align: center;
  font-size: 32pt;
  color: #111;
}

#container {
  display: grid;
}

.overlaid {
  border: none;
  outline: none;
  padding: 0;
  width: calc(100% - 32px);
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
  max-width: 800px;
  background: transparent;
  white-space: nowrap; 
  overflow-x: auto;
  resize: none;
}

#input, #display {
  font-size: 32px;
  font-family: 'Libre Baskerville', serif;
  line-height: 64px;
  tab-size: 2;
}

/* Move the textarea in front of the result */
#input {
  z-index: 2;
}
#display {
  z-index: 1;
  white-space: pre;
}

#metre {
  max-width: 840px;
  margin-top: -26px;
  z-index: 0;
}

#input {
  color: transparent;
  caret-color: black; 
}

#metre {
  color: #D3D3D3;
  font-size: 16px;
  line-height: 64px;
}

#display .last-word-0 {
  color:#2D4FA2;
}

#display .last-word-1 {
  color:#542056;
}

#display .last-word-2 {
  color:#B92D65;
}

#display .last-word-3 {
  color:#D87E37;
}

#display .last-word-4 {
  color:#E8BD50;
}

#display .last-word-5 {
  color:#00BFB2;
}

#display .last-word-6 {
  color:#F25D5A;
}

#display .last-word-7 {
  color:#79C362;
}

#display .last-word-8 {
  color:#DF3075;
}

#display .last-word-9 {
  color:#542056;
}

#display .last-word-10 {
  color:#B92D65;
}

#display .last-word-11 {
  color:#D87E37;
}

#display .last-word-12 {
  color:#E8BD50;
}

#display .last-word-13 {
  color:#00BFB2;
}

#display .last-word-14 {
  color:#F25D5A;
}

#display .last-word-15 {
  color:#79C362;
}